#side-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100dvh;
    width: 100%;
    border: 5px solid var(--primaryColor);
    border-radius: 14px;
    background-color: var(--sideColor);
    grid-row: 2;
    grid-column: 1;
  }
  .side-menu-container {
  }
  