.github-button {
  border: transparent;
  background-color: transparent;
  & div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 20px 0px 20px;
    width: 320px;
    border-radius: 6px;
    background-color: #0d1117;
    box-shadow: 9px 9px 0px tomato;
    & p {
      font-family: "Pixelify Sans", serif;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
    & i {
      font-size: 40px;
      color: white;
    }
  }
}
.linkedin-button {
  border: transparent;
  background-color: transparent;
  & div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 320px;
    padding: 0px 20px 0px 20px;
    border-radius: 6px;
    background-color: #0077b5;
    box-shadow: 9px 9px 0px tomato;
    & p {
      text-align: center;
      font-family: "Pixelify Sans", serif;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
    & i {
      font-size: 40px;
      color: white;
    }
  }
}
.instagram-button {
  border: transparent;
  background-color: transparent;
  & div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 320px;
    padding: 0px 20px 0px 20px;
    border-radius: 6px;
    background: #833ab4;
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
    box-shadow: 9px 9px 0px tomato;
    & p {
      font-family: "Pixelify Sans", serif;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
    & i {
      font-weight: bold;
      font-size: 40px;
      color: white;
    }
  }
}
.whatsapp-button {
  border: transparent;
  background-color: transparent;
  & div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 320px;
    padding: 0px 20px 0px 20px;
    border-radius: 6px;
    background-color: #128c53;
    box-shadow: 9px 9px 0px tomato;
    & p {
      font-family: "Pixelify Sans", serif;
      color: #ece5dd;
      font-size: 20px;
      font-weight: bold;
    }
    & i {
      font-weight: bold;
      font-size: 40px;
      color: #ece5dd;
    }
  }
}
.mini-button {
  text-decoration: none;
  & button {
    border: transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 14px;
    border: 4px solid var(--secundaryColor);
  }
  & i {
    font-size: 40px;
    color: var(--primaryColor);
  }
}
#buttontheme {
  border: transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 14px;
  border: 4px solid tomato;
  & i {
    font-size: 40px;
    color: white;
  }
}
