#main-control {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--backColor);
  overflow: auto;
}
.main-border-container {
  margin: 30px;
  width: calc(90dvw -10px);
  height: 400px;
  background-color: lightgray;
}
.main-full-container {
  width: calc(90dvw -10px);
  height: 400px;
  background-color: #d3d3d3;
}
