@mixin centralized {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin debugContainer($hight, $width, $color) {
  height: $hight;
  width: $width;
  background-color: $color;
}
